.header {
  border-bottom: 1px solid #ccc;
  padding: 10px 2rem !important;
  background: #f02f2fd8;
  color: #fff;
}
.body {
  margin-top: 1rem;
  .msg {
    display: flex;
    gap: 5px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}
.dialog_success {
  background: $success-color !important;
}
