.stripe {
  button {
    margin-top: 1rem;
    height: 45px;
    width: 100%;
    background: #000;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s;
    &:hover {
      background: transparent;
      border-color: #222;
      color: #000;
    }
  }
  .error {
    padding: 0;
  }
}
